/* ============================= */
/* Impulse Image Banner Slider */
/* ============================= */

.image-banner-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-banner-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease;
}

.image-banner-slide {
  position: relative;
  min-width: 100%;
  height: 100%;
}

/* Image */
.image-banner-media {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.image-banner-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content */
.image-banner-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem; */
}
.image-banner-heading{
  color: #fff;
  font-weight: 700;
  margin-bottom: -40px;

}

.image-banner-box {
  max-width: 760px;
  padding: 0 30px;

}
a.button--primary{
  background-color: #8B4E40;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
  padding: 11px 20px;
  border: none !important;
  outline: none !important;
  margin-top: -15px;
}
.button--primary::before,
.button--primary::after{
  display:none !important;
}
/* Alignment */
.text-align-left .image-banner-box {
  text-align: left;
}

.text-align-center .image-banner-box {
  text-align: center;
}

.text-align-right .image-banner-box {
  text-align: right;
}

/* Heading sizes */
.heading-sm { font-size: 2.4rem; }
.heading-md { font-size: 3rem; }
.heading-lg { font-size: 4rem; }
.heading-xl { font-size: 6rem; }

/* Text sizes */
.text-sm { font-size: 1.4rem; }
.text-md { font-size: 2rem; }
.text-lg { font-size: 3rem; }


/* Mobile */
@media (max-width: 749px) {
  .image-banner-slider {
    height: 80vh;
  }

  .image-banner-box {
    padding: 2rem;
  }

  .heading-xl { font-size: 3.2rem; }
  .heading-lg { font-size: 2rem; }
}
